.menuContainer {
    @apply absolute px-5 py-1 flex justify-between w-full sm:w-full lg:w-1/3 md:w-full  left-1/2 lg:left-1/2 top-2 rounded-md;
    border : 2px solid theme('colors.border1');
    transform: translate(-50%);
    background-color: theme('colors.background');

    .iconWrapper {
        @apply flex justify-center items-center cursor-pointer h-10 w-10 rounded-md;
         &.active, &:hover {
            background-color: theme('colors.text2');
        }
        .icon{
            color: theme('colors.text1');
            font-size: 20px;
        }
    }
}